html, body {
	height:100%;
	margin:0;
}

body {
	font-family:Arial, Verdana, sans-serif;
}

header {
	height:83px;
	background:#05c5d6;
	position:fixed;
	top:0;
	left:0;
	margin:0;
	width:100%;
	/*box-shadow*/
	-webkit-box-shadow:0 2px 6px rgba(0,0,0,0.2);
	   -moz-box-shadow:0 2px 6px rgba(0,0,0,0.2);
	        box-shadow:0 2px 6px rgba(0,0,0,0.2);
	z-index:99;
}

nav {
	float:right;
}

/* Logo & About */
.logo {
	font-family:'Satisfy', cursive;
	font-size:2.2em;
	color:white;
	float:left;
	padding-top:16px;
	padding-left:40px;
}

.about {
	float:right;
	color:white;
	padding-right:50px;
	padding-top:30px;
}

.about:hover {
	color:#d8d9d9;
}

a:link {
	text-decoration:none;
}

/* Container */
.container {
	margin:0 auto;
	min-height:100%;
}

.row {
	margin:0 auto;
	position:relative;
}

.span8 {
	margin-top:70px;
}

/* Header Text */
h1 {
	letter-spacing:5px;
	font-size:6.25em;
	margin-top:20px;
	margin-left:40px;
	margin-bottom:10px;
	font-weight:lighter;
	color:#3c3c3c;
}

h2 {
	font-size:2.5em;
	margin-left:40px;
	margin-top:0;
	font-weight:lighter;
	color:#9d9e9f;
	letter-spacing:0.625em;
}

h3 {
	font-size:2.5em;
	color:#05c5d6;
}

/* Hire Us Button Container */
.span3 {
	position:absolute;
	top:150px;
	right:50px;
}

.btn {
	height:30px;
	width:130px;
	padding:18px;
	background:#05c5d6;
	font-size:1.375em;
	text-align:center;
	/*border-radius*/
	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	        border-radius:4px;
	color:white;
	float:right;
	/*box-shadow*/
	-webkit-box-shadow:0 2px 6px rgba(0,0,0,0.2);
	   -moz-box-shadow:0 2px 6px rgba(0,0,0,0.2);
	        box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

.btn:hover {
	background:#04aebd;
}

/* Containers for Thumbnails */
.span12 {
	margin-bottom:30px;
}

.tiles {
	height:500px;
	margin-top:30px;
	margin-bottom:80px;
	clear:both;
}

.box {
	float:left;
	width:250px;
	height:270px;
	/*box-shadow*/
	-webkit-box-shadow:inset 0 0 4px #aaaaaa;
	   -moz-box-shadow:inset 0 0 4px #aaaaaa;
	        box-shadow:inset 0 0 4px #aaaaaa;
	/*border-radius*/
	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	        border-radius:4px;
}

.box h4 {
	color:#3c3c3c;
	padding:0px 15px;
}

.box p {
	color:#9d9e9f;
	padding:0px 15px;
}

.box img {
	/*border-radius*/
	-webkit-border-radius:4px 4px 0 0;
	   -moz-border-radius:4px 4px 0 0;
	        border-radius:4px 4px 0 0;
}

footer {
	clear:both;
	background:#4d4d4d;
}

footer * {
	margin:0;
}

footer:after {
	content:"";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}

footer p {
	padding-top:55px;
	margin-right:50px;
	font-size:0.75em;
	float:right;
	color:white;
	font-weight:lighter;
	letter-spacing:0.5em;
}

footer p span {
	color:#ff3578;
	font-size:1.5em;
}

/* Sticky Footer */
.wrapper {
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto -6.250em;
}

footer, .push {
	height:6.250em;
}

/* Modal */
#myModal p {
	font-size:2em;
	line-height:1.5em;
	color:#4d4d4d;
}

#signature {
	font-family:'Satisfy', cursive;
	float:right;
	margin-right:35px;
	margin-bottom:0;
}

/*Flip Feature*/
#tiles .portfolio-item {
	display:block;
	float:left;
	width:250px;
	height:270px;
	/*perspective*/
	-webkit-perspective:600px;
	   -moz-perspective:600px;
	    -ms-perspective:600px;
	     -o-perspective:600px;
	        perspective:600px;
	margin-top:30px;
	margin-left:30px;
}

#tiles .portfolio-item .primary,
#tiles .portfolio-item .secondary {
	display:block;
	/*transform-style*/
	-webkit-transform-style:preserve-3d;
	   -moz-transform-style:preserve-3d;
	    -ms-transform-style:preserve-3d;
	     -o-transform-style:preserve-3d;
	        transform-style:preserve-3d;
	/*backface-visibility*/
	-webkit-backface-visibility:hidden;
	   -moz-backface-visibility:hidden;
	    -ms-backface-visibility:hidden;
	     -o-backface-visibility:hidden;
	        backface-visibility:hidden;
	overflow:hidden;
}

.primary, .secondary {
	position:absolute;
	/*transition-duration*/
	-webkit-transition-duration:1s;
	   -moz-transition-duration:1s;
	     -o-transition-duration:1s;
	        transition-duration:1s;
}

.secondary {
	/*transform*/
	-webkit-transform:rotateY(-180deg);
	   -moz-transform:rotateY(-180deg);
	    -ms-transform:rotateY(-180deg);
	     -o-transform:rotateY(-180deg);
	        transform:rotateY(-180deg);
	visibility:hidden;
}

.portfolio-item:hover .secondary {
	/*transform*/
	-webkit-transform:rotateY(0);
	   -moz-transform:rotateY(0);
	    -ms-transform:rotateY(0);
	     -o-transform:rotateY(0);
	        transform:rotateY(0);
	visibility:visible;
}

.portfolio-item:hover .primary {
	/*transform*/
	-webkit-transform:rotateY(180deg);
	   -moz-transform:rotateY(180deg);
	    -ms-transform:rotateY(180deg);
	     -o-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	visibility:hidden;
}

.secondary i {
	color:#05c5d6;
}